.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.header-left{
    display: flex;
}

.item{
    padding: 10px 10px;
    margin-right: 10px;
}

.item:hover {
    border-bottom: 2px solid #60a5fa;
}

.main-body{
    min-height: calc(100vh - 46px);
}

.active {
    border-bottom: 2px solid #60a5fa;
}